[Unit]
Description=Start x11vnc at startup.
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/start-x11vnc.sh

[Install]
WantedBy=multi-user.target
